$titleColour: #FF69B4;
$mainColour: #FFFFFF;
$mainBgColour: #000000;
$linkColour: #CA6702;

body {
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  background-color: $mainBgColour;
  color: $mainColour;
}

h1 {
  text-align: center;
  color: $titleColour;
  text-transform: uppercase;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 10px;
}

main div {
  border-bottom: 1px solid #333333;
  padding: 10px;
  a {
    text-decoration: none;
    color: $linkColour;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 32px;
  }
}

span {
  color: $titleColour;
}

.spinnerMessage {
  color: $titleColour;
  display: inline-block;
  padding: 6px 10px;
  float: left;
  border: none;
}

#spinner {
  animation: animateSpinner 3s linear infinite;
  float: left;
}

@keyframes animateSpinner {
  100% {transform: rotate(360deg); transform-origin: center;}
}